name: Deploy Airflow to Azure

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Azure Login
        uses: azure/login@v1
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - name: ACR Login
        uses: azure/docker-login@v1
        with:
          login-server: acrsentiment.azurecr.io
          username: ${{ secrets.ACR_USERNAME }}
          password: ${{ secrets.ACR_PASSWORD }}

      - name: Build Docker image
        run: |
          docker build -t acrsentiment.azurecr.io/airflow:latest .

      - name: Push Docker image
        run: |
          docker push acrsentiment.azurecr.io/airflow:latest

      - name: Deploy to Container App
        run: |
          az containerapp update \
            --name airflow-containerapp \
            --resource-group resource_gro_pro \
            --image acrsentiment.azurecr.io/airflow:latest


